@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Montserrat', sans-serif;
}

.hidebars::-webkit-scrollbar{
  width: 1px;
  height: 0;
}

.main-page{
  height: calc(100vh - 58px);
  scroll-behavior: smooth;
}

.spinning_globe{
  animation: spinner 60s linear infinite;
  transition: all 0.25s ease;
}

@keyframes spinner {
  100%{
    transform: rotate(360deg);
    /* transform: rotate3d(0, 1, 1, 180deg); */
  }  
}